<a href="https://colab.research.google.com/github/amankv38/Deep-Learning/blob/main/Deep_Learning_ANN_House_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Data Science Datasets/homeprices.csv')

In [ ]:
data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [ ]:
data.drop('town',axis=1,inplace=True)

In [ ]:
data

    area   price
0   2600  550000
1   3000  565000
2   3200  610000
3   3600  680000
4   4000  725000
5   2600  585000
6   2800  615000
7   3300  650000
8   3600  710000
9   2600  575000
10  2900  600000
11  3100  620000
12  3600  695000

In [ ]:
data.isna().sum()

area     0
price    0
dtype: int64

In [ ]:
x=data['area']
y=data['price']

In [ ]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [ ]:
x

0     2600
1     3000
2     3200
3     3600
4     4000
5     2600
6     2800
7     3300
8     3600
9     2600
10    2900
11    3100
12    3600
Name: area, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# model = keras.Sequential([
#     keras.layers.Dense(26, input_shape=(26,), activation='relu'),
#     keras.layers.Dense(15, activation='relu'),
#     keras.layers.Dense(2, activation='sigmoid')
# ])

# model.compile(optimizer='adam',
#               loss='binary_crossentropy',
#               metrics=['accuracy'])
# model.fit(x_train, y_train, epochs=100)

model=tf.keras.Sequential([tf.keras.layers.Dense(1)])
# model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
model.compile(loss=tf.keras.losses.mae,optimizer=tf.keras.optimizers.SGD(),metrics=['accuracy'])

model.fit(x_train, y_train, epochs=5)

Epoch 1/5
1/1 [==============================] - 1s 658ms/step - loss: 627780.0000 - accuracy: 0.0000e+00
Epoch 2/5
1/1 [==============================] - 0s 13ms/step - loss: 524463.6875 - accuracy: 0.0000e+00
Epoch 3/5
1/1 [==============================] - 0s 13ms/step - loss: 421147.3438 - accuracy: 0.0000e+00
Epoch 4/5
1/1 [==============================] - 0s 11ms/step - loss: 317831.0312 - accuracy: 0.0000e+00
Epoch 5/5
1/1 [==============================] - 0s 10ms/step - loss: 214514.7344 - accuracy: 0.0000e+00

In [ ]:
prediction=model.predict(x_test)
prediction

1/1 [==============================] - 0s 95ms/step

array([[453800.53],
       [470007.7 ],
       [518629.16],
       [583457.8 ],
       [534836.3 ],
       [421386.22]], dtype=float32)

In [ ]:
d=[[3400]]
h=model.predict(d)
h

1/1 [==============================] - 0s 41ms/step

array([[551043.5]], dtype=float32)